@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIDERGIN Compresse - Sản phẩm chính hãng</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</head>
<body>

<form asp-area="Admin" asp-controller="OrderAdmin" asp-action="Index" method="get">
        <a href="/Admin/OrderAdmin/Index" class="btn btn-success">
            🔁 Chuyển đến Trang Vận chuyển
        </a>
</form>
 

 

</body>
</html>