@{
    ViewData["Title"] = "Đăng xuất thành công";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/logout.css">
<div class="logout-container">
    <div class="success-animation">
        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
            <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
            <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
        </svg>
    </div>
    <h2 class="logout-title">Đăng xuất thành công!</h2>
    <p class="logout-message">Cảm ơn bạn đã sử dụng dịch vụ của chúng tôi</p>
    <div class="actions">
        <a href="/" class="btn btn-home">
            <i class="fas fa-home"></i> Trang chủ
        </a>
        <a href="@Url.Action("Index","Account")" class="btn btn-login">
            <i class="fas fa-sign-in-alt"></i> Đăng nhập lại
        </a>
    </div>
    <script>
        // Clear client-side cache
        if('caches' in window) {
            caches.keys().then(function(names) {
                names.forEach(function(name) {
                    caches.delete(name);
                });
            });
        }
        // Force reload khi quay lại
        window.history.replaceState(null, null, window.location.href);
    </script>
</div>

